/*Sets style for entire page*/
html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: lightgrey;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #fffffb;
    padding: 10px 20px 20px 20px;
    border: 0 solid black;  /*Borde stå 0px, men det är redundant*/
}

/*Style specifically for paragraph, unsorted list, list element and header 1*/
p, ul, li {
    color: black;
    width: 500px;
}

ul, ol {
    border: 1px dotted black;
    width: 200px;
}
ul:hover, ol:hover{

}

/*style that gets activated when mouse is hovering*/
/*img:hover {
    filter: brightness(50%);
    display: block;
    margin: 0 auto;
}*/



img {
    /*display block används för att margin i body inte ska påverka den i img. Nu kan vi sätta till våra egna margins*/
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: 2px 2px 4px #df4877
}